@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('./fonts/YanoneKaffeesatz-VariableFont_wght.ttf');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

.flap {
  width: 150vmax;
  height: 150vmax;
  position: absolute;
  bottom: 50%;
  right: 50%;
  background: #fff;
  transform-origin: bottom right;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.flap0 {
  transform: rotate(-180deg) rotate(0) skewX(30deg) translateX(-100%) translateY(90%);
}
.flap1 {
  transform: rotate(-180deg) rotate(0.16666667turn) skewX(30deg) translateX(-100%) translateY(90%);
}
.flap2 {
  transform: rotate(-180deg) rotate(0.33333333turn) skewX(30deg) translateX(-100%) translateY(90%);
}
.flap3 {
  transform: rotate(-180deg) rotate(0.5turn) skewX(30deg) translateX(-100%) translateY(90%);
}
.flap4 {
  transform: rotate(-180deg) rotate(0.66666667turn) skewX(30deg) translateX(-100%) translateY(90%);
}
.flap5 {
  transform: rotate(-180deg) rotate(0.83333333turn) skewX(30deg) translateX(-100%) translateY(90%);
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
